services:
  hudsse-app-dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "3005:3000"
    environment:
      - NODE_ENV=development
      - PORT=3000
      - HOSTNAME=0.0.0.0
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    restart: unless-stopped
    container_name: hudsse-app-dev
    networks:
      - hudsse-network

networks:
  hudsse-network:
    driver: bridge

