services:
  hudsse-app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3005:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
      - HOSTNAME=0.0.0.0
    restart: unless-stopped
    container_name: hudsse-app
    networks:
      - hudsse-network

networks:
  hudsse-network:
    driver: bridge

